/**
 * _settings.color.scss
 *
 * Your color palette should sit here and always follow the same namespace:
 * `$color-`
 */
$color-background: #ffffff;
$color-foreground: #151515;


$red: #dc143c;
$darkBlue: #003893;
$white: #ffffff;
$borderBottom: #002767;
$borderTop: #355d9f;